





#chemin1{
    grid-row-start: 5;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 9;
}
#fin{
    grid-row-start: 5;
	grid-column-start: 9;
    grid-row-end: 6;
	grid-column-end: 10;
}
#fin:hover ~ #chemin_fin,
#chemin_fin:hover{
    grid-row-start: 5;
	grid-column-start: 10;
    grid-row-end: 6;
    grid-column-end: 10;
}

#chemin2{
    grid-row-start: 5;
	grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 4;
}
#chemin2d{
    grid-row-start: 6;
	grid-column-start: 3;
    grid-row-end: 7;
    grid-column-end: 6;
}
#chemin2a{
    grid-row-start: 5;
	grid-column-start: 5;
    grid-row-end: 6;
    grid-column-end: 9;
}
#chemin3{
    grid-row-start: 5;
	grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 4;
}
#chemin3g{
    grid-row-start: 4;
	grid-column-start: 3;
    grid-row-end: 5;
    grid-column-end: 6;
}
#chemin3a{
    grid-row-start: 5;
	grid-column-start: 5;
    grid-row-end: 6;
    grid-column-end: 9;
}
#chemin4{
    grid-row-start: 6;
	grid-column-start: 1;
    grid-row-end: 7;
    grid-column-end: 3;
}
#chemin4h{
    grid-row-start: 7;
	grid-column-start: 3;
    grid-row-end: 5;
    grid-column-end: 3;
}
#chemin4a{
    grid-row-start: 5;
	grid-column-start: 4;
    grid-row-end: 5;
    grid-column-end: 6;
}
#chemin4d{
    grid-row-start: 3;
	grid-column-start: 5;
    grid-row-end: 5;
    grid-column-end: 5;
}
#chemin4d:hover ~ #chemin4a2{
	opacity: 0;
}
#chemin4a2{
    grid-row-start: 5;
	grid-column-start: 6;
    grid-row-end: 5;
    grid-column-end: 9;
}

#chemin_fin/*:hover*/{
    grid-row-start: 5;
    grid-column-start: 10;
    grid-row-end: 6;
    grid-column-end: 11;
	background-image: url(textures/metal6.jpg);
    background-size: contain;
    background-position: 0;
    width: 0%;
    transition: all 0.5s ease;
    box-shadow: inset 2px 2px 10px black;
}