*{
	margin:0;
	padding: 0;
	}
@font-face{
    font-family:"raleLight";
    src: url('fonts/Raleway-Light.ttf');
}@font-face{
    font-family:"raleRegular";
    src: url('fonts/Raleway-Regular.ttf');
}@font-face{
    font-family:"raleExtraLight";
    src: url('fonts/Raleway-ExtraLight.ttf');
}@font-face{
    font-family:"raleBold";
    src: url('fonts/Raleway-Bold.ttf');
}@font-face{
	font-family:"raleExtraBold";
	src: url('fonts/Raleway-ExtraBold.ttf');
}
@font-face{
	font-family:"3Dumb";
	src: url('fonts/3Dumb.ttf');
}
@font-face{
    font-family:"2Dumb";
    src: url('fonts/2Dumb.ttf');
}@font-face{
    font-family:"karatula";
    src: url('fonts/karatula/KARAI.ttf');
}@font-face{
    font-family:"karatulaB";
    src: url('fonts/karatula/KARAB.ttf');
}@font-face{
    font-family:"karatulaI";
    src: url('fonts/karatula/KARABI.ttf');
}@font-face{
    font-family:"karatulaN";
    src: url('fonts/karatula/KARAN.ttf');
}@font-face{
    font-family:"codystarL";
    src: url('fonts/codystar/codystarL.ttf');
}@font-face{
	font-family:"codystarR";
	src: url('fonts/codystar/codystarR.ttf');
}
html{
	font-size: 62.5%;

}
body{
    cursor: url('cursor/ufo3cursorMini.png') 15 11, crosshair;
    overflow: hidden;
}
img{
	max-width: 100%;
}

#rules{
    color: darkgoldenrod;
    font-size: 2.6em;
    letter-spacing: 0.1em;
    line-height: 1.4em;
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90vw;
    height: 270px;
    text-align: center;
}
#gifExo{
    max-width: 100%;
    position: absolute;
    top: 40px;
    left: 12%;
    width: 70%;
    height: 330px;
}
#boutonSkipWelcome{
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 100;
}
#labyMenu{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#contactLabyMenu{
}
#imgContactPP{
    position: fixed;
    bottom: 45px;
    right: 125px;
    width: 35px;
}
#imgContact{
    position: fixed;
    bottom: 45px;
    right: 105px;
    width: 20px;
}#imgContact2{
    position: fixed;
    bottom: 45px;
    right: 85px;
    width: 20px;
}#imgContact3{
    position: fixed;
    bottom: 45px;
    right: 65px;
    width: 20px;
}
#labyMenu div{
    text-align: center;
}
h1#labyMenuH1{
    font-family: "3Dumb";
    font-size: 10em;
    color: powderblue;
    position: absolute;
    transform: rotate(-32deg);
    top: 11%;
    left: 1%;
    font-weight: initial;
}
#starGold{
    display: none;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
    position: absolute;
    left: 1.5em;
    top: 0em;
    z-index: -1;
    transform: scale(0);
    transform: rotate(0deg);
}
#starGoldMouse{
    display: none;
    position: relative;
    animation-duration: 0.75s;
}
@keyframes starAnime{
    0%{top: -0.05em; transform: scale(0.3); transform: rotate(0deg); left: 1.5em;}
    25%{top: -0.25em; transform: scale(0.6); transform: rotate(30deg); left: 1.3em;}

    50%{top: -0.45em; transform: scale(1); transform: rotate(90deg); left: 1em;}
    75%{top: -0.65em; transform: scale(0.5); transform: rotate(1200deg); left: 0.5em;}

    100%{top: -0.80em; transform: scale(0); transform: rotate(0deg); left: -5em;}
}
h1#theTitle{
    font-family: "3Dumb";
    font-size: 10em;
    color: powderblue;
    position: absolute;
    transform: rotate(1deg);
    top: 1%;
    left: 35%;
    z-index: 10;
    font-weight: initial;
    transition: all 3s ease;
    background-image: none;
    padding: none;
}
h1#theTitle.creditsEnd{
    transform: rotate(-40deg);
    top: 64%;
    left: 0%;
    background-image: none;
    font-size: 8em;
}
.marioKartColorDivs
{
}
#titreLabyMenu{
    font-family: "raleLight";
    color: darkkhaki;
    font-size: 8.4em;
    margin-bottom: 0.1em;
}
#credits_menu_div{
    overflow: hidden;
    box-shadow: -3px -3px 43px 42px rgba(0,0,0,1) inset;
    -webkit-box-shadow: -3px -3px 43px 42px rgba(0,0,0,1) inset;
    -moz-box-shadow: -3px -3px 43px 42px rgba(0,0,0,1) inset;
    border: ridge purple 2px;
    width: 54.5em;
    height: 2em;
    position: absolute;
    bottom: 1.5%;
}
#credits_menu_span{
    font-size: 1.8em;
    color: cornflowerblue;
    position: relative;
    animation-name: transiCredits;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline-block;
    width: max-content;
    width: -moz-max-content;
}
@keyframes transiCredits{
    from{right: -130%;}
    to{right: 200%;}
}
#menuLabyMenu{
    margin-top: 17em;
    display: flex;
    flex-direction: column;
}
#optionLabyMenu{
    margin-top: 25em;
    display: none;
    flex-direction: column;
}
#labyMenu ul li{
    list-style-type: none;
    color: darkgoldenrod;
    font-size: 2.2em;
    margin: 1em auto;
    cursor: pointer;
    display: inline;
    font-family: karatulaN;
    position: relative;
}
#labyMenu ul li#optionOptions{
    color: blueviolet;
    margin-top: 45px;   
    font-size: 1.9em; 
}
#labyMenu ul li#optionRetourPartie{
    color: aliceblue;
    margin-top: 50px;
    letter-spacing: 0.5em;
}
#labyMenu ul#optionLabyMenu li{
    color: darkgoldenrod;
    margin: 1em auto;
    cursor: pointer;
    display: inline;
    font-family: karatulaN;
    position: relative;
}
#labyMenu #imgMenu{
    width: 15px;
    left: -29px;
    top: 0;
    position: absolute;
    display: none;
}
#labyMenu ul li:hover #imgMenu{
    display: inline;
}
#labyMenu ul li#patchNote{
    right: 3%;
    position: absolute;
    bottom: 16%;
}
#patchNote a{
    color: gold;
    font-size: 0.7em;
}
#textDanger{
    background-image: url(textures/ligneDanger.png);
    width: 160px;
    height: 31px;
    padding-left: 10px;
    padding-right: 8px;
    padding-top: 3px;
    margin: 0 auto;
    background-position-x: -7px;
    background-position-y: -7px;
    box-shadow: 0px 1px 53px 17px rgba(230,255,152,0.75);
}
#effaceScore div button{
    color: red;
}
#shufflePlateau button{
    color: #2041da;
    width: 150px;
}
#optionRetourCartoucheDeJeux a{
    text-decoration: none;
    color: #53c7f7;
    font-size: 0.6em;
}
#optionRetourCartoucheDeJeux a:hover{
    color: antiquewhite;
}
.plateau{
    background-size: 100%;
}
#labyMenu li:first-child{
/*    margin: 0 300px;
*/}
#labyMenu #boutonChangeWorld{
    background-color: cornflowerblue;
    color: gold;
    width: 100px;
    height: 100px;
    border: 3px solid;
    border-radius: 50%;
    box-shadow: -1px 1px 84px 19px rgba(250,255,106,0.75);

    animation-duration: 4s;
    animation-iteration-count: infinite;
    font-size: 0.7em;
}
#labyMenu #boutonChangeWorld:hover{
    color: gold;
}
#pasFin{
    font-size: 2em;
    color: goldenrod;
    position: absolute;
    color: red;
    display: none;
}
#labyMenu ul li:hover,
#labyMenu #optionLabyMenu li:hover{
    color: gold;
}
#labyMenu ul li span{
    color: darkkhaki;
    font-size: 1.3em;
    width: 125px;
}
#labyMenu div ul #optionVSmontre{
    margin-bottom: 6%;
}
#labyMenu #optionMelangerEtMonde{
    margin-top: 4em;
    color: aliceblue;
}
#labyMenu ul li#optionRetourCartoucheDeJeux{
    position: absolute;
    bottom: 3%;
    left: 3%;
    color: aliceblue;
}
#retourMenu{
    position: absolute;
    top: 1%;
    right: 1%;
    width: 135px;
    height: 40px;
    z-index: 5;
    background: black;
    font-family: "CodystarR";
    color: gold;
    font-size: 2.7em;
    border: 3px ridge darkslategrey;
    border-top: 2px ridge aliceblue;
    border-left: 2px ridge aliceblue;
}
#reload{
    position: absolute;
    left: 41px;
    top: 286px;
    width: 150px;
    height: 5px;
    background-color: black;
    overflow: hidden;
    z-index: 1;
    transition: all 0.5s linear;
    border: 2px solid;
}#reload.reloadOpen{
    height: 40px;
    z-index: 11;
}
#reload span{
    font-family: "CodystarR";
    position: relative;
    color: gold;
    font-size: 2em;
}
#metalTop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0vh;
    z-index: 120;
    background-image: url(textures/metal5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130%;
    overflow: hidden;
    animation-duration: 2s;
}
#metalBottom{
    width: 100%;
    height: 0vh;
    background-image: url(textures/metal5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130%;
    position: absolute;
    bottom: 0;
    z-index: 120;
    overflow: hidden;
    animation-duration: 2s;
}
#bandeDanger{
    width: 100%;
    height: 20px;
    background-image: url(textures/ligneDanger.png);

    position: absolute;
    bottom: 0px;
    background-size: 110%;
    background-position-y: -9px;
    background-position-x: -41px;
}
#bandeDanger2{
    width: 100%;
    height: 20px;
    background-image: url(textures/ligneDanger.png);
    position: absolute;
    top: 0px;
    background-size: 110%;
    background-position-y: -25px;
    background-position-x: -39px;
}
#saucer1{
    filter: hue-rotate(90deg);
    width: 135px;
    height: 145px;
    top: 28%;
    left: -115%;
}
#saucerMetal{
    position: absolute;
    filter: hue-rotate(90deg);
    width: 120px;
    height: 113px;
    top: 19%;
    left: 81%;
    z-index: 110;
    animation-name: saucerMenuDance;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#saucerMenuOption{
    position: absolute;
    filter: hue-rotate(90deg);
    width: 120px;
    height: 113px;
    top: 19%;
    left: 81%;
    z-index: 110;
    animation-name: saucerMenuDance;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#saucerMenuAnim{
}
#saucer2{
    filter: hue-rotate(260deg);
    width: 95px;
    height: 85px;
    top: 45%;
    left: -25%;
}
#saucer3{
    filter: hue-rotate(180deg);
    width: 95px;
    height: 85px;
    top: 60%;
    left: -85%;
}
#saucer4{
    filter: hue-rotate(120deg);
    width: 80px;
    height: 80px;
    top: 77%;
    left: -25%;
}
.saucerEnd{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 18%;
    left: -15%;
    z-index: 1;
    opacity: 1;
    animation-duration: 4s;
}
#infoScreen{
    background-image: url(textures/metal1.jpg);
    background-position-x: 72px;
    background-position-y: 460px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    background: blueviolet;
    background-image: url(textures/metal6.jpg);

    background-size: 389px;
    background-position-x: -128px;
    background-position-y: -40px;
    border: 5px ridge #c27cff; /*violet*/
    width: 200px;
    display: flex;
    flex-direction: column;
    transition: all 1s ease;
}
#infoScreen h2{
    color: violet;
    top: 10%;
    left: 2%;
    z-index: 1;
    font-size: 2.8em;
    text-shadow: 5px 2px 4px rgba(47,90,215,0.8);
    text-align: center;
    display: inline;
    box-shadow: 0px 2px 0px black;
}
@-moz-document url-prefix() {

    #infoScreen h2{
       color: pink;
       margin: 0 auto;
       width: -moz-max-content;
       font-size: 2.4em;
    }
}
#infoScreen #level{
    top: 10%;
    left: 28%;
    font-size: 2.7em;
    color: deepskyblue;
    z-index: 1;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
#infoScreen #chrono{
    font-size: 1.5em;
    color: darkgoldenrod;
    width: 100%;
    text-align: center;
    border: 3px inset darkkhaki;
    box-sizing: border-box;
    font-family: "raleRegular";
    padding: 6px 0;
    background-color: black;
}
#infoScreen #score{
    font-size: 1.8em;
    color: aliceblue;
    width: auto;

    border: 5px groove grey;;
    box-sizing: border-box;
    border-bottom: 0;
    left: 150px;
}
#infoScreen #score div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: "raleLight";
    margin-bottom: 4px;
}
#infoScreen #score > span, #infoScreen #player > span{
    font-size: 1em;
    color: lightyellow; 
    display: inline-block;
    width: 100%;
    text-align: left;
    font-family: "raleRegular";
    padding: 7px 11px 0 7px;
}
#infoScreen #score div .oldPlayer, #infoScreen #score div .oldScore{
    color: #a2d6f7;
    text-shadow: 1px 1px 0px black;
    font-size: 0.8em;
    font-family: "raleRegular";
}
#infoScreen #score div:nth-child(2) { 
    font-size: 1.5em;
    color: darkkhaki;
    font-family: "raleRegular";
    text-shadow: 1px 1px 0px black;
}
#infoScreen #score div:nth-child(2) span{ /*New player*/
    font-size: 0.7em;
    color: gold;
    font-family: "raleRegular";
}
#infoScreen #player{
    border: 5px ridge cornflowerblue;
    box-sizing: border-box;
    border: 4px groove grey;
}
#infoScreen #player #playerScreen{
    font-family: "raleLight";
    text-shadow: 0px -1px 21px rgba(88,209,197,0.67);
    font-size: 1.9em;
    text-align: center;
    font-weight: bolder;
    margin: 10px auto;
    padding: 5px;
    text-shadow: 5px -3px 3px rgb(43, 43, 42);
    box-shadow: inset 9px -10px 19px -4px #000000;
    text-transform: capitalize;
}
#boite{
    background-color: cadetblue;
    background-image: url(outils/laby_space.png);
    background-image: url(fond/fondSpace5.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}
#boite[DEV]{ /*mode DEV activé*/
    border: 9px ridge gold;
    background-image: none;
    box-sizing: border-box;
    background-image: url(outils/laby_space.png);
    background-image: url(textures/ligneDanger.png);
    background-size: 100%;
    background-repeat: repeat;
}
#game{
    transform: rotate(45deg);
    position: absolute;
    bottom: 26%;
    left: 30%;
    z-index: 10;
    opacity: 1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.plateau{
	background-color: indianred;
	box-shadow: 36px -7px 29px 3px rgb(154, 153, 138);
	width: 500px;
	height: 300px;

	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(5, 1fr);
	position: relative;
}
.plateauRond{
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border-radius: 50%;
    height: 500px;
    box-shadow: 0px 0px 243px 47px rgba(255,0,0,0.73);
    background: radial-gradient(circle farthest-corner 
        at center center, #cd5c5c 62%, #000000 80%);
}
#game label{
    transform: rotate(270deg);
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 37%;
    left: -7px;
    text-align: center;
    padding: 20% 0;
    padding-top: 29px;
    background-color: black;
    border: 11px inset grey;
    box-sizing: content-box;
}
#game label:hover {
    color: goldenrod;
    cursor: url('cursor/ufo3cursorMini.png') 15 11, crosshair;
}
#game label.labelRond{
    top: 90px;
}
.perdu,
.perdu2{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.9;
    justify-content: center;
    align-items: center;
    color: white;
	display: none;
	z-index: 10;
    color: #9154ff;
    font-size: 3em;
}

.perduRond{
    border-radius: 100%;
}
.plateau .chemin:hover ~ .perdu,
.plateau  #fin:hover ~ .perdu,
.plateau  #chemin_fin:hover ~ .perdu,
.plateau #valide:hover ~ .perdu{
	display: none;
}

.plateau:hover .perdu{
	display: flex;
}
.urgent{
	animation-name: vite;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}
.bump{
    animation-name: bump;
    animation-duration: 1s;
}
.gold{
    color: gold;
    font-size: 3.2em;
}
#cache{
    display: none;
}
/*.tourneTourne{
    animation-name: tourneTourne;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
@keyframes tourneTourne{
    0%{transform: rotate(0deg);}
    50%{transform: rotate(360deg);}
}*/
@keyframes topDown{
    0%{height: 0vh;}
    50%{height: 50.5vh;}
    100%{height: 0vh;}
}
@keyframes bottomTop{
    0%{height: 0vh;}
    50%{height: 50.5vh;}
    100%{height: 0vh;}
}
@keyframes topDownCLOSE{
    0%{height: 0vh;}
    100%{height: 50vh;}
}
@keyframes bottomTopCLOSE{
    0%{height: 0vh;}
    100%{height: 50vh;}
}
@keyframes topDownCLOSEopen{
    0%{height: 50vh;}
    100%{height: 0vh;}
}
@keyframes bottomTopCLOSEopen{
    0%{height: 50vh;}
    100%{height: 0vh;}
}
@keyframes vite{
	0%{color: gold; opacity: 1;}
	100%{color: red; opacity: 1;}
}
@keyframes bump{
    0%{font-size: 2.8em;}
    100%{font-size: 4.8em;}
}
@keyframes saucer{
    0%{ opacity: 1;}
    75%{opacity: 1}
    100%{left: 110%; opacity: 0;}
}
@keyframes plateauAnnimeFin{
    to{transform: rotate(0deg); opacity: 0;}
}
@keyframes animeBoutonWorld{
    0%{background: linear-gradient(90deg, #ff0000 0%, #00ff00 80%);}
    25%{background: linear-gradient(90deg, #E91E63 0%, #4CAF50 80%);}
    50%{background: linear-gradient(90deg, #9C27B0 0%, #8BC34A 80%);}
    75%{background: linear-gradient(90deg, #3F51B5 0%, #FFEB3B 80%);}
    100%{background: linear-gradient(90deg, #2196F3 0%, #FF9800 80%);}
}
@keyframes saucerMenuDance{
    0%{top: 19%; left: 81%;}
    25%{top: 16%;left: 85%;}
    50%{top: 20%;left: 83%;}
    75%{top: 17%;left: 82%;}
    100%{top: 18%;left: 81%;}
}
@keyframes marioKartColorAnime{
    0%{color: crimson;}
    25%{color: cyan;}
    50%{color: greenyellow;}
    75%{color: darkmagenta;}
    100%{color: yellow;}
}
.marioKartColorAnimeCss{
    animation-name: marioKartColorAnime;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
}.marioKartColorAnimeCssLent{
    animation-name: marioKartColorAnime;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
#chemin1{
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 7;
    background: aliceblue;
}
#fin{
	grid-column-start: 7;
	grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url(textures/metal6.jpg);
    background-size: cover;
}
#win{
    background-color: goldenrod;
    color: gold;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*#fin:hover ~ #chemin_fin,*/
#chemin_fin/*:hover*/{
	grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
	background-image: url(textures/metal6.jpg);
    background-size: contain;
    background-position: 0;
    width: 0%;
    transition: all 0.5s ease;
    box-shadow: inset 2px 2px 10px black;
}
#fin:hover ~ #chemin_fin,
#chemin_fin:hover{
    width: 100%;
}
#chemin_fin:hover ~ #valide,
 #valide:hover{
    width: 75px;
    height: 300px;
    overflow: unset;
}
#valide{
    display: flex; 
    position: absolute;
    top: 0;
    right: -75px;
    z-index: 30;
    width: 75px;
    height: 300px;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;

    width: 0px;
    height: 0px;
    overflow: hidden;
}
@-moz-document url-prefix(){
    #valide{
        font-size: 1.5em;
    }
}
.plateau ~ .plateau{
	display: none;
}
#game input{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
input:checked + .plateau {
    display: none ; 
}
input:checked + .plateau + input:not(:checked) + .plateau{
	display: grid;
}
#chemin2{
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 4;
    background: aliceblue;
}
#chemin2d{
    grid-row-start: 4;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-column-end: 6;
    background: aliceblue;
}
#chemin2a{
    grid-row-start: 3;
    grid-column-start: 5;
    grid-row-end: 3;
    grid-column-end: 8;
    background: aliceblue;
}
#chemin3{
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 4;
    background: aliceblue;
}
#chemin3g{
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 6;
    background: aliceblue;
}
#chemin3a{
    grid-row-start: 3;
    grid-column-start: 5;
    grid-row-end: 3;
    grid-column-end: 8;
    background: aliceblue;
}
#chemin4{
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 3;
    background: aliceblue;
}
#chemin4h{
    grid-row-start: 5;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 3;
    background: aliceblue;
}
#chemin4a{
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 2;
    grid-column-end: 6;
    background: aliceblue;
}
#chemin4d{
    grid-row-start: 3;
    grid-column-start: 5;
    grid-row-end: 5;
    grid-column-end: 5;
    background: aliceblue;
}
#chemin4a2{
    grid-row-start: 4;
    grid-column-start: 6;
    grid-row-end: 4;
    grid-column-end: 8;
    background: aliceblue;
    background-image: url(textures/ligneDanger.png);
    background-size: 201px;
    background-position: 0px 54px;
    background-repeat: no-repeat;
}
#bordGauche{
	transform: skew(45deg, 0deg);
    position: absolute;
    left: 20px;
	background: antiquewhite;
	width: 500px;
	height: 40px;
    opacity: 1;
    background-image: url(textures/metal4.jpg);
    background-size: 140%;
    background-repeat: no-repeat;
    background-position-x: -190px;
}
#bordDroite{
    position: absolute;
    right: -40px;
    top: 20px;
    transform: skew(0deg, 45deg);
    background: antiquewhite;
    width: 40px;
    height: 300px;
    opacity: 1;
    background-image: url(textures/metal4.jpg);
    background-size: cover;
    background-position-y: 0;
    background-repeat: no-repeat;
}
#debug{
    display: flex;
    flex-wrap: wrap;
    width: 160px;
    background-color: cadetblue;
    color: darkkhaki;
    font-weight: bolder;
    position: absolute;
    padding: 0.5%;  
    right: 1%;
    bottom: 1%;
    font-size: 1.5em;
    box-shadow: 2px 2px 5px 2px rgba(243,255,135,0.75);
}
#debug input{
    display: block;
    margin: 4px;
}
#outOfOrder{
    position: relative;
    top: 42%;
    left: 35%;
    width: 200px;
    background: #edf1d5;
    display: inline-block;
    text-align: center;
    padding: 3%;
    border-radius: 13%;
    transform: rotate(-32deg);
    z-index: 1469;
    font-size: 2.7em;
    color: teal;
    box-shadow: 1px 1px 1px black;
}
#outOfOrder2{
    position: relative;
    top: 57%;
    left: 1%;
    font-size: 4em;
    font-family: "2Dumb";
    text-shadow: 0px 0px 16px cyan;
    display: inline-block;
    transform: rotate(32deg);
    color: cyan;
    z-index: 120;
}
#outOfOrder3{
    position: relative;
    top: 41%;
    left: 37%;
    font-size: 3em;
    font-family: "2Dumb";
    text-shadow: 0px 0px 16px lightcoral;
    display: inline-block;
    transform: rotate(-27deg);
    color: lightcoral;
    z-index: 105;
}
#outOfOrder4{
    position: relative;
    top: 0%;
    left: 1%;
    font-size: 3.5em;
    font-family: "2Dumb";
    text-shadow: 0px 0px 16px lightsteelblue;
    display: inline-block;
    transform: rotate(-5deg);
    color: lightsteelblue;
    z-index: 105;
}
#eggSaucer{
    width: 60px;
    filter: hue-rotate(145deg);
    position: absolute;
    right: 25px;
    bottom: 25px;
}
#welcome{
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 1;
    position: absolute;
    z-index: 110;
/*    display: flex;
*/    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: opacity 3s linear;
}
#welcomeMessage{
    font-size: 5em;
    color: darkgoldenrod;
/*    position: absolute;
    top: 300px;
    left: 20%;*/

    padding: 25% 15%;
    transform: perspective(80px) rotateX(20deg) translateY(-360px);
    transition: all 5s linear;
}#welcomeMessage.endMessage{

    font-size: 5em;
    border: ridge 11px goldenrod;
    background-color: blue;
    text-align: center;

    margin-top: 20%;
    padding: 130px 0px 95px 0px;

    transform: unset;
    transition: opacity 2s linear;
}
#formPlayerID{
    position: absolute;
    top: 50vh;
    left: 25vw;
    font-size: 2.5em;
}
#welcome.Hide{
    opacity: 0;
}
#welcome.Hide2{
    height: 0;
}
.Hide{
    opacity: 0;
}
.hide2{
    height: 0;
}
/*.hide{
    display: none;
}*/
#playerID{
    color: lightblue;
}
input[name="playerID"]{
    width: 100px;
    color: goldenrod;
}
#welcomeMessage.animeStarWars{
    transform: perspective(80px) rotateX(20deg) translateY(240px);
    text-align: center;
}
#credits {
    display: none;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: black;
}
#credits p{
    margin-top: 210%;
    margin-left: 15%;
    color: aliceblue;
    transition: all 20s linear;
}
#credits .creditsTitre{
    color: goldenrod; 
    font-size: 3.2em;
    display: inline-block;
    margin: 30px auto;
}
#credits .creditsNom{
    margin-left: 10px;
    font-size: 3em;
    margin: 5px auto;
    margin-left: 35px;
}
#credits p.animationCredits{
     margin-top: -210%;
}
#bonus{
    position: absolute;
    top: -20%;
    left: 320px;
    font-size: 3em;
    color: gold;
    opacity: 0;
    z-index: 100;
    transform: rotate(-15deg);
    transition: opacity 0.5s linear;
}
#bonus.animationBonus{
     opacity: 1;
}
#noMobile{
    display: none;
}


@media screen and (max-width: 855px){

	#noMobile{
        display: unset;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;
        background-color: blue;
        color: goldenrod;
        text-align: center;
        padding-top: 42%;
        font-size: 3em;
	}

	
}
@media screen and (min-width: 1200px){
	/* CSS poour les ordianteurs */

    #gifExo {
        max-width: 100%;
        position: absolute;
        top: 30px;
        left: 28%;
        width: 48%;
    }
    #boutonSkipWelcome {
        position: absolute;
        bottom: 30px;
        right: 30px;
        width: 60px;
        height: 22px;
    }
    h1#theTitle{
        font-size: 4.1em;
        color: #58e0d3;
        position: fixed;
        transform: rotate(-12deg);
        top: 34.9px;
        left: 6.7px;
        display: inline;        
        background-size: 250px;
        padding-left: 0.5px;
        padding-top: 0.5em;
/*        transform: translateX(-14%) scale(0.9);
*/        width: 159px;
        height: 59px;
    }
    h1#theTitle.creditsEnd{
        transform: rotate(-40deg);
        top: 65%;
        left: 0%;
        background-image: none;
        font-size: 8em;
    }
    #formPlayerID{
        left: 35vw;
        font-size: 3.5em;
    }
    h1#labyMenuH1{
        top: 18%;
        font-size: 15em;
    }
    #titreLabyMenu{
        font-size: 7em;
        margin-bottom: 0.9em;
    }
    #saucerMenuOption{
        width: 150px;
        height: 143px;
    }
    #labyMenu ul li span{
        font-size: 1.4em;
    }
    #metalTop{
        background-size: cover;
    }
    #metalBottom{
        background-size: cover;
    }
    #bandeDanger{
        background-size: 110%;
        background-position-y: -19px;
    }
    #bandeDanger2{
        background-size: 110%;
    }

    #chrono{
        font-size: 2.8em;
        width: 250px;
        height: 50px;
        color: darkgoldenrod;

        width: 100%;
        text-align: center;
        margin-top: 5%;
    }
    #labyMenu ul li#optionRetourMenuJeux{
        position: absolute;
        bottom: 5%;
        left: 42%;
    }
    #infoScreen #level{
        position: absolute;
        top: -10px;
    }
    #infoScreen #score{
        height: 68%;
    }
    #infoScreen{
        top: 0;
        left: 0;
        width: 100%;
        height: 126px;
        box-sizing: border-box;
        background-image: url(textures/metal1.jpg);
        background-image: url(textures/metal9.jpg);
/*        background-size: contain;
*/        background-position-x: 12px;
        background-position-y: 120px;
    }
    #infoScreen div{
        position: absolute;
        top: 34px;
        left: 12%;
        margin-top: 0;
        height: 84px;
        width: 400px;
    }
    #infoScreen #score > span, #infoScreen #player > span{
        font-weight: bold;
        color: #bea3e6;
    }
    #infoScreen #score div{
        display: unset;
        width: 1147px;
    }
     #infoScreen #score div#oldPlayerDuke{
        top: -9px;
        left: 120px;
        padding: 4px 0 0 8px;
        font-size: 0.9em;
    }
    #infoScreen #score div#oldPlayerMajor{
        left: 320px;
        top: -9px;
        padding: 4px 0 0 8px;
        font-size: 0.9em;
    }
    #infoScreen #score div#newPlayerHighScore{
        left: 154px;
        top: 2px;
        letter-spacing: 3.9px;
    }
    #infoScreen #score div:nth-child(2){
        top: 15px;
        left: 130px;
        font-size: 1.6em;
    }
    #infoScreen #player{
        border: none;
        box-sizing: none;
    }
    #infoScreen #player #playerScreen{
        font-size: 1.7em;
        position: relative;
        top: -30px;
        margin: unset;
        padding: unset;
        text-shadow: none;
        box-shadow: none;
        left: 200px;
    }
    #infoScreen #chrono{
        font-size: 2.2em; 
        /* width: 88%; */
        /* margin-left: 0px; */
        position: fixed;
        left: 157px;
        top: 1.7em;
        width: 86.5%;
        padding-left: 300px;
        padding-top: 23px;
        }
    #level{
        font-size: 3em;
    }
    #retourMenu{
        top: 60px;
        right: 10%;
        width: 130px;
        z-index: 17;
        background: #6346b0;
        font-size: 3.3em;
    }
    #reload{    
        left: 157px;
        top: 126px;

    }
    #welcomeMessage{
        left: 30%;
    }
    #credits p{
        margin-top: 125%;
    }
}

/*@media all and ( display-mode: standalone ){
    body{
        margin: 0;
        border: 5px solid black;
    }
}*/
