
/* CSS */
#java ul {
  /* overflow: hidden; */
  transition: max-height 0.5s ease-out;
}

#java ul.show {
  transition: max-height 0.5s ease-in;
}

#java ul.hidden {
  transition: max-height 0.5s ease-out;
}
#subtitleVersionsSelected{
  font-style: italic;
  font-size: 0.8em;
  color: #666;
  margin-left: 10px;
}
body {
 /*  background-image: url("../pictures/littleRabbits.gif"); */
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: #000000;
  background-size: 40%;
}
h1 {
  display: inline;
}