
/* CSS */
#java ul {
  /* overflow: hidden; */
  transition: max-height 0.5s ease-out;
}
#oldSection {
  display: none;
}
#java ul.show {
  transition: max-height 0.5s ease-in;
}

#java ul.hidden {
  transition: max-height 0.5s ease-out;
}
#subtitleEncoding{
  font-style: italic;
  font-size: 0.8em;
  color: #919090;
  margin-left: 10px;
}
#subtitleVersionsSelected {
  color: #ff0;
  font-family: system-ui;
  letter-spacing: 2px;
  font-size: 0.8em;
}
body {
  background-image: url("../pictures/fondStars.webp");
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: #000000;
  background-size: 250px;
}
h2.wildcatTitle {
  display: inline;
}
#tilteProjectColorCode {
  font-family: system-ui;
  letter-spacing: 2px;
  font-size: 0.8em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#colorCode {
  font-size: 1.4rem;
}
#tilteProjectColorCode h4 {
  display: inline;
  font-size: 26px;
  color: var(--wc-pink-200);
  animation: neonVioletRetroFlashes 1s ease-in-out infinite alternate;
}
section#projects {
  width: 90vw;
  margin: 3vh auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
}
section#projects div.projectBoxes {
  position: relative;
  margin: 60px;
  width: 33%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* animation: borderNeonFlashesViolet 2s infinite alternate; */
}
.pro {
  border: var(--wc-pink-800) 6px ridge;
}
.perso {
  border: var(--wc-darkblue-600) 6px ridge;
}
.titleProject {
  margin: 40px 40px;
  font-size: 1.5em;
  text-align: center;
}
.descriptionProject {
  opacity: 0;
  position: absolute;
  top: 0px;
  /* background: black; */
  height: 100%;
  overflow: hidden;
}

.projectBoxes:hover {
  cursor: pointer;
}
.projectImages  {
  z-index: 10;
  width: 100%;
}
/* .projectBoxes:hover .descriptionProject{
  display: block;
} */
#labybiImage {
}
#ilcImage {
}
#serverImage {
}
#divServerProject {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#divServerProject img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 10px;
  border: ridge 6px darkgoldenrod;
}
#divServerProject img:hover {
  border: ridge 6px #ff0;
}
#hobbies {
  width: 90vw;
  margin: 3vh auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
}
#divImgHobbies article span{
  color: var(--wc-blue-400);
  font-size: 18px;
}
#divImgHobbies img {
  max-width: 300px;
  height: auto;
  margin: 10px;
  border: ridge 6px darkgoldenrod;
}
#neroWildcatDrawAI {
  width: 45%;
  height: auto;
  margin: 10px;
  border: ridge 6px darkgoldenrod;
}
#wildcatMix {
  width: 57%;
  height: auto;
  margin: 10px;
  border: ridge 6px #b8860b;
  animation: filterBrightnes 2s infinite alternate;
  animation: borderNeonFlashesViolet 2s infinite alternate;
}
#wildcatPodcast {
  width: 37%;
  height: auto;
  margin: 10px;
  border: ridge 6px darkgoldenrod;
}
#divImgHobbies {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
article {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 550px;
  height: fit-content;
  flex-direction: column;
}
footer {
  margin: 2em;
}
#contact a{
  font-family: 'lobster';
  animation: neonVioletRetroFlashes 2s ease-in-out infinite alternate;
  font-size: 1.8em;
  margin: 1em;
  margin-left: 2em;
  display: inline-block;
}

/* CSS for the different styles */
/*PAGE Accueil*/
.retro {
  background: #000;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding: 1em;
  margin: 1em;
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 5px #fff, 0 0 0 10px #000;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

/* Modern Style */
.modern {
  background: #fff;
  color: #000;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding: 1em;
  margin: 1em;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 0 5px #000, 0 0 0 10px #fff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

/* 3D Style */
.three-d {
  background: #fff;
  color: #000;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding: 1em;
  margin: 1em;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 0 5px #000, 0 0 0 10px #fff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: relative;
  z-index: 1;

}