
/* CSS */
#java ul {
  /* overflow: hidden; */
  transition: max-height 0.5s ease-out;
}
#oldSection {
  display: none;
}
#java ul.show {
  transition: max-height 0.5s ease-in;
}

#java ul.hidden {
  transition: max-height 0.5s ease-out;
}
#subtitleEncoding{
  font-style: italic;
  font-size: 0.8em;
  color: #666;
  margin-left: 10px;
}
#subtitleVersionsSelected {
  color: #ff0;
  font-family: system-ui;
  letter-spacing: 2px;
  font-size: 0.8em;
}
body {
  background-image: url("../pictures/fondStars.webp");
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: #000000;
  background-size: 170px;
  margin-left: 30px;
}
h2.wildcatTitle {
  display: inline;
}
section.projects {
  height: 77vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
section.projects div.box {
  margin: 20px;
  width: 33%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: borderNeonFlashesViolet 2s infinite alternate;

}
.divTextProject {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  background: black;
}
.box:hover .divTextProject{
  display: block;
}
#labybiImage {
  width: 100%;
}
.ilcImage {
  width: 100%;
}
.serverImage {
  width: 100%;
}
#divServerProject {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#divServerProject img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 10px;
  border: ridge 6px darkgoldenrod;
}
#divServerProject img:hover {
  border: ridge 6px #ff0;
}
#neroWildcatDrawAI {
  width: 45%;
  height: auto;
  margin: 10px;
  border: ridge 6px darkgoldenrod;
}
#wildcatMix {
  width: 57%;
  height: auto;
  margin: 10px;
  border: ridge 6px darkgoldenrod;
  animation: filterBrightnes 2s infinite alternate;
  animation: borderNeonFlashesViolet 2s infinite alternate;
}
#wildcatPodcast {
  width: 37%;
  height: auto;
  margin: 10px;
  border: ridge 6px darkgoldenrod;
}
#divImgHobbies {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
article {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 680px;
  height: 550px;
  flex-direction: column;
}
