/*reset*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* CSS for the different styles */

/*PAGE Accueil*/
body {
  background-color: #3b5565;
  font-family: 'inconsolata';
}
#glass {
  border-radius: 5%;
  background-color: rgb(193 237 222 / 40%);
  padding: 25px;
  margin: 70px 40px;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
#glass h2 {
  font-family: 'permanent-marker', cursive;
  font-size: 2.5em;
  margin: 0;
  padding: 0;
  font-weight: unset;
  text-align: center;
}
a#readme {
  text-decoration: none;
  color: var(--wc-yellow-500);
  font-size: 0.7em;
  font-family: 'Press-Start-2P', cursive;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding: 1em;
  cursor: pointer;
}
a#readme:hover {
  color: var(--wc-gold-doree);
  font-size: 0.72em;;
}
.cercleColor {
  position: absolute;
  top: 30px;
  left: 45px;
  width: 210px;
  height: 200px;
  border-radius: 50%;
  background-color: #bd2fd6;
  z-index: -1;
}
.boxShadowGradiantRadius {
  box-shadow: 0 0 8px 12px #ea51f1, 0 0 16px 20px #ce2eef, 0 0 16px 20px #a704be;
}
.retro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#link_page_retro {
  background-color: black;
  position: relative;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: #fff;
  font-size: 0.7em;
  font-family: 'Press-Start-2P', cursive;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 0 0 2px var(--wc-yellow-500) , 0 0 0 0px #000;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  width: 50%;
  cursor: pointer;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#link_page_retro:hover {
  background-image: url(../pictures/fondStars.webp);
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: #000000;
  background-size: 250px;
  color: var(--wc-gold-doree);
  font-size: 0.72em;
  box-shadow: 0 0 0 2px #000, 0 0 0 4px var(--wc-gold-doree);
}
#link_page_retro img {

}
/* Modern Style */
.modern {
  background: #fff;
  color: #000;
  font-family: 'Press-Start-2P', cursive;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding: 1em;
  margin: 1em;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 0 5px #000, 0 0 0 10px #fff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

/* 3D Style */
.three-d {
  background: #fff;
  color: #000;
  font-family: 'Press-Start-2P', cursive;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding: 1em;
  margin: 1em;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 0 5px #000, 0 0 0 10px #fff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: relative;
  z-index: 1;
}