/* FILEPATH: /home/wildcat/Documents/porte-folio/assets/css/global.css */

body {
  background-color: #000;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  margin-left: 50px;
}
ul li {
  list-style: none;
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
}
header nav ul li {
  list-style: none;
  text-align: center;
  width: 100%;
}
/* Retro style */
h1 {
  text-align: center;
  font-size: 2em;
  margin: 0;
  padding: 0;
}
h1::before {
  content: '>';
  margin-right: 10px;
}
h1,
h2,
h3 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
img {
  width: 50%;
}
a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #fff;
  transition: border-bottom 0.3s ease-in-out;
}

a:hover {
  border-bottom: 2px solid #ff0;
}
/* Animation */
@keyframes neon {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0, 0 0 70px #ff0, 0 0 80px #ff0, 0 0 100px #ff0, 0 0 150px #ff0;
  }
  
  20% {
    text-shadow: none;
  }

  100% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0, 0 0 70px #ff0, 0 0 80px #ff0, 0 0 100px #ff0, 0 0 150px #ff0;
  }
}

h1 {
  animation: neon 1s ease-in-out infinite alternate;
}
/* Neon animation leger*/
@keyframes neonLighter {
  0% {
    text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 15px #ff00ff, 0 0 20px rgb(179, 179, 33), 0 0 25px #ff0, 0 0 30px #ff0, 0 0 35px #ff0, 0 0 40px #ff0;
  }
  10% {
    text-shadow: 0 0 6px #ae13ae, 0 0 10px #ff00ff, 0 0 15px #ff00ff, 0 0 20px rgb(189, 189, 9), 0 0 25px #ff0, 0 0 30px #ff0, 0 0 35px #ff0, 0 0 40px #ff0;
  }
  20% {
    text-shadow: 0 0 7px #740874, 0 0 10px #ff00ff, 0 0 15px #ff00ff, 0 0 20px rgb(221, 221, 24), 0 0 25px #ff0, 0 0 30px #ff0, 0 0 35px #ff0, 0 0 40px #ff0;
  }
  30% {
    text-shadow: 0 0 7px #2e052e, 0 0 10px #ff00ff, 0 0 15px #ff00ff, 0 0 20px rgb(255, 255, 46), 0 0 25px #ff0, 0 0 30px #ff0, 0 0 35px #ff0, 0 0 40px #ff0;
  }
  40% {
    text-shadow: 0 0 8px rgb(169, 6, 169), 0 0 10px #ff00ff, 0 0 15px #ff00ff, 0 0 20px #ff0, 0 0 25px #ff0, 0 0 30px #ff0, 0 0 35px #ff0, 0 0 40px #ff0;
  }
  50% {
    text-shadow: 0 0 8px #e006e0, 0 0 10px #ff00ff, 0 0 15px #ff00ff, 0 0 20px #ff0, 0 0 25px #ff0, 0 0 30px #ff0, 0 0 35px #ff0, 0 0 40px #ff0;
  }
  60% {
    text-shadow: 0 0 9px #970697, 0 0 10px #ff00ff, 0 0 15px #ff00ff, 0 0 20px #ff0, 0 0 25px #ff0, 0 0 30px #ff0, 0 0 35px #ff0, 0 0 40px #ff0;
  }
  70% {
    text-shadow: 0 0 10px #ee08ee, 0 0 10px #ff00ff, 0 0 15px #ff00ff, 0 0 20px #ff0, 0 0 25px #ff0, 0 0 30px #ff0, 0 0 35px #ff0, 0 0 40px #ff0;
  }
  80% {
    text-shadow: 0 0 10px #940694, 0 0 10px #ff00ff, 0 0 15px #ff00ff, 0 0 20px #ff0, 0 0 25px #ff0, 0 0 30px #ff0, 0 0 35px #ff0, 0 0 40px #ff0;
  }
  90% {
    text-shadow: 0 0 11px #570457, 0 0 10px #ff00ff, 0 0 15px #ff00ff, 0 0 20px #ff0, 0 0 25px #ff0, 0 0 30px #ff0, 0 0 35px #ff0, 0 0 40px #ff0;
  }
  100% {
    text-shadow: 0 0 11px #100010, 0 0 10px #ff00ff, 0 0 15px #ff00ff, 0 0 20px #ff0, 0 0 25px #ff0, 0 0 30px #ff0, 0 0 35px #ff0, 0 0 40px #ff0;
  }
}
@keyframes neon2 {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0, 0 0 70px #ff0, 0 0 80px #ff0, 0 0 100px #ff0, 0 0 150px #ff0;
  }
  
  20% {
    text-shadow: none;
  }

  100% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0, 0 0 70px #ff0, 0 0 80px #ff0, 0 0 100px #ff0, 0 0 150px #ff0;
  }
}

h1 {
  animation: neon 2s ease-in-out infinite alternate;
}
h1 {
  animation: neonLighter2 2s ease-in-out infinite alternate;
}

@keyframes neonLighter2 {
  0% {
    text-shadow: 0 0 5px #ff0, 0 0 10px #ff0, 0 0 15px #ff0, 0 0 20px #ff0, 0 0 25px #ff0, 0 0 30px #ff0, 0 0 35px #ff0, 0 0 40px #ff0;
  }
  10% {
    text-shadow: 0 0 6px #ff0, 0 0 10px #ff0, 0 0 15px #ff0, 0 0 20px #ff0, 0 0 25px #ff0, 0 0 30px #ff0, 0 0 35px #ff0, 0 0 40px #ff0;
    color: #ff0;
  }
  20% {
    text-shadow: 0 0 7px #ff0, 0 0 10px #ff0, 0 0 15px #ff0, 0 0 20px #ff0, 0 0 25px #ff0, 0 0 30px #ff0, 0 0 35px #ff0, 0 0 40px #ff0;
    color: #b3b321;
  }
  30% {
    text-shadow: 0 0 7px #ff0, 0 0 10px #ff0, 0 0 15px #ff0, 0 0 20px #ff0, 0 0 25px #ff0, 0 0 30px #ff0, 0 0 35px #ff0, 0 0 40px #ff0;
    color: #b3b321;
  }
  40% {
    text-shadow: 0 0 8px #ff0, 0 0 10px #ff0, 0 0 15px #ff0, 0 0 20px #ff0, 0 0 25px #ff0, 0 0 30px #ff0, 0 0 35px #ff0, 0 0 40px #ff0;
    color: #ff0;
  }
  50% {
    text-shadow: 0 0 8px #ff0, 0 0 10px #ff0, 0 0 15px #ff0, 0 0 20px #ff0, 0 0 25px #ff0, 0 0 30px #ff0, 0 0 35px #ff0, 0 0 40px #ff0;
    color: #ff0;
  }
  60% {
    text-shadow: 0 0 9px #ff0, 0 0 10px #ff0, 0 0 15px #ff0, 0 0 20px #ff0, 0 0 25px #ff0, 0 0 30px #ff0, 0 0 35px #ff0, 0 0 40px #ff0;
    color: #b3b321;
  }
  70% {
    text-shadow: 0 0 10px #ff0, 0 0 10px #ff0, 0 0 15px #ff0, 0 0 20px #ff0, 0 0 25px #ff0, 0 0 30px #ff0, 0 0 35px #ff0, 0 0 40px #ff0;
    color: #b3b321;
  }
  80% {
    text-shadow: 0 0 10px #ff0, 0 0 10px #ff0, 0 0 15px #ff0, 0 0 20px #ff0, 0 0 25px #ff0, 0 0 30px #ff0, 0 0 35px #ff0, 0 0 40px #ff0;
    color: #ff0;
  }
  90% {
    text-shadow: 0 0 11px #ff0, 0 0 10px #ff0, 0 0 15px #ff0, 0 0 20px #ff0, 0 0 25px #ff0, 0 0 30px #ff0, 0 0 35px #ff0, 0 0 40px #ff0;
    color: #ff0;
  }
  100% {
    text-shadow: 0 0 11px #ff0, 0 0 10px #ff0, 0 0 15px #ff0, 0 0 20px #ff0, 0 0 25px #ff0, 0 0 30px #ff0, 0 0 35px #ff0, 0 0 40px #ff0;
    color: #b3b321;
  }
}
@keyframes borderNeonFlashes {
  0% {
    border: ridge 6px darkgoldenrod;
  }
  50% {
    border: ridge 6px #ff0;
  }
  100% {
    border: ridge 6px darkgoldenrod;
  }
}
@keyframes borderNeonFlashesViolet {
  0% {
    filter: brightness(100%);
    border: ridge 6px darkviolet;
  }
  50% {
    border: ridge 6px #ff0;
    filter: brightness(150%);
  }
  100% {
    border: ridge 6px darkviolet;
    filter: brightness(100%);
  }
}
@keyframes filterBrightnes {
  0% {
  }
  50% {
  }
  100% {
  }
}

h2,
h3 {
  animation: neon2 1s ease-in-out infinite alternate;
}
#imgLabyby {
  width: 50%;
  scale: 0.9;
  border: rgb(230, 93, 245) 5px ridge;
  transition: scale 0.5s ease-in-out;
  transition: all 0.7s ease-in-out;
}
#imgLabyby:hover {
  scale: 1;
  border: #460759 7px ridge; 
}
#imgServerRoom {
  width: 40%;
}
#imgHeader {
  width: 100px;
  position: relative;
  top: 30px;
  left: 0;
}