/* FILEPATH: /home/wildcat/Documents/porte-folio/assets/css/global.css */
@font-face {
  font-family: 'lobster';
  src: url(fonts/Lobster/Lobster-Regular.ttf);
}
@font-face {
  font-family: 'Press-Start-2P';
  src: url(fonts/PressStart2P/PressStart2P-Regular.ttf);
}
@font-face {
  font-family: 'inconsolata';
  src: url(fonts/Inconsolata/static/Inconsolata-Regular.ttf);
}
@font-face {
  font-family: 'inconsolata-bold';
  src: url(fonts/Inconsolata/static/Inconsolata-Bold.ttf);
}
@font-face {
  font-family: 'inconsolata-italic';
  src: url(fonts/Inconsolata/static/Inconsolata-Italic.ttf);
}
@font-face {
  font-family: 'inconsolata-bold-italic';
  src: url(fonts/Inconsolata/static/Inconsolata-BoldItalic.ttf);
}
@font-face {
  font-family: 'inconsolata-light';
  src: url(fonts/Inconsolata/static/Inconsolata-Light.ttf);
}
@font-face {
  font-family: 'inconsolata-extraExpanded-regular';
  src: url(fonts\Inconsolata\static\inconsolata-extraExpanded-regular.ttf);
}
@font-face {
  font-family: 'noto-color-emoji';
  src: url(fonts\Noto_Color_Emoji\NotoColorEmoji-Regular.ttf);
}
@font-face {
  font-family: 'pacifico';
  src: url(fonts\Pacifico\Pacifico-Regular.ttf);
}
@font-face {
  font-display: swap;
  font-family: 'permanent-marker';
  font-weight: 400 !important;
  font-style: normal;
  src: url(fonts/Permanent_Marker/PermanentMarker-Regular.ttf) format('truetype'), 
        url(fonts/Permanent_Marker/permanent-marker-v16-latin-regular.woff2) format('woff2');
}
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
/* Fonts */

/* Global */
body {
  background-color: #000;
  font-family: 'inconsolata';
}
li {
  list-style: none;
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
}
header nav ul li {
  list-style: none;
  text-align: center;
  width: 100%;
}
h1 {
  color: antiquewhite;
  text-align: center;
  font-size: 2em;
  margin: 0;
  padding: 0;
}
h1::before {
  content: '>';
  margin-right: 10px;
}
h2 {
  color: antiquewhite;
  font-size: 2.5em;
  margin: 0;
  padding: 0;
  font-weight: unset;
}
img {
  width: 50%;
  border-radius: 2%;
}
p {
  font-size: 1.1em;
}
a#readme {
  text-decoration: none;
  color: var(--wc-yellow-500);
  font-size: 0.5em;
  font-family: 'Press-Start-2P', cursive;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: right;
  padding: 1em;
  cursor: pointer;
}
a#readme:hover {
  color: var(--wc-gold-doree);
  text-decoration: underline;
}
.boutonRetro {
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.1em;
  font-family: 'inconsolata';
  cursor: pointer;
}
.boutonRetro:hover {
  background-color: #fff;
  color: #000;
}