body {
  background-image: url(../pictures/fondStars.webp);
}
#setupServers {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 25px;
}
#setupServers h2 {
  color: aliceblue;
  text-align: center;
  margin: 50px 0;
}
.mousePad {
  padding: 20px;
}
.mousePad h2 {
  text-align: center;
  color: var(--wc-gold-doree);
  font-family: system-ui;
  letter-spacing: 2px;
  margin: 10px 0;
  padding: 0;
  text-shadow: 3px 3px 10px var(--wc-gold-doree);
  width: 100%;
}
#descriptionMontageServeurs {
  color: aliceblue;
}
.picturesServeurs {
  display: flex;
  flex-direction: column; 
}
.rowServeurs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 75px 0;
}
.figureServeurs {
  width: 25%;
}
.figureServeurs img {
  width: 100%;
  border-radius: 16px;
  border: 4px ridge var(--wc-gold-doree);
}
/****************************************************************/
/****************************************************************/
/* Contact */
/****************************************************************/
/****************************************************************/
footer {
  margin: 2em;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#contact a {
  font-family: 'lobster';
  animation: neonVioletRetroFlashes 2s ease-in-out infinite alternate;
  font-size: 1.6em;
  margin: 1em;
  display: inline-block;
  color: var(--wc-pink-100);
  min-width: fit-content;
}

#contact a:hover {
  color: var(--wc-pink-800);
  animation: none;
}